# Configuration file

general {
    # Whether to add blocks or not.
    B:"Enable Blocks"=false

    # Whether to add blueprints or not.
    B:"Enable Blueprints"=false

    # Whether to add fluids or not.
    B:"Enable Fluids"=false

    # Whether to add items or not.
    B:"Enable Items"=false

    # Whether to add material or not.(Require enable items, fluids and ores!)
    B:"Enable Material"=false

    # Whether to add ores or not.
    B:"Enable Ores"=false

    # A list of languages which can be detected to switch automatically.
    S:Languages <
        zh_cn
     >

    # Whether to show endurance bar or not.
    B:"Show Overlay Bar"=true
}


